.pt {
  fill: steelblue;
  stroke: #000;
  stroke-width: 0px;
}

.title {
  font-family: sans-serif;
  font-size: 20pt;
  stroke: gray;
  color: red;
  text-align: center;
}

.label {
  font-family: sans-serif;
}

text.axis_label {
  font-family: sans-serif;
  font-size: 15pt;
  fill: gray;
}

body {
  font-family: sans-serif;
  font-size: 15pt;
  fill: gray;
  margin: 25px 200px 75px 200px;
}

#pagetitle {
  text-align: center;
}
